<div class="wrapper">
<h3 class="header">Browse Matrimonial Profiles By</h3>

<div class="shortcut-menu">
  <div class="menu-row">
    <button>Religion</button>
    <span class="menu-col" *ngFor="let religion of religions">{{religion}}
    </span>
  </div>
  <div class="menu-row">
    <button>Caste</button>
    <span class="menu-col" *ngFor="let caste of castes">{{caste}}</span>
  </div>
  <div class="menu-row">
    <button>State</button>
    <span class="menu-col" *ngFor="let state of states">{{state}}</span>
  </div>
  <div class="menu-row">
    <button>Regional</button>
    <span class="menu-col" *ngFor="let language of languages">{{language}}</span>
  </div>
  <div class="menu-row">
    <button>Country</button>
    <span class="menu-col" *ngFor="let country of countries">{{country}}</span>
  </div>
</div>  
  
<div class="footer">  
  <ul>
    <span class="title">Company</span>
    <li>About Us</li>
    <li>Success Stories</li>
    <li>Blogs</li>
    <li>Media & PR</li>
    <li>Careers/li>
  </ul>

  <ul>
      <span class="title">Help & Support</span>
      <li>Live Support</li>
      <li>Online Help - FAQ</li>
      <li>Contact us</li>
      <li>Sitemap</li>
    </ul>

    <ul>
        <span class="title">Policies</span>
        <li>Privacy Policy</li>
        <li>Terms of Use</li>
        <li>Disclaimer</li>
        <li>Payment Policy</li>
    </ul>

    <ul>
      <span class="title">Other Services</span>
      <li>Namma Matrimony Elite Matrimony</li>
      <li>Namma Matrimony Photography</li>
      <li>Namma Matrimony Bazaar</li>
      <li>Namma Matrimony Mandabam</li>
    </ul>

      <div class="follow">
          <div class="label">Follow Us</div>
          <img src="../../assets/images/facebook.png">
          <img src="../../assets/images/linkedin.png">
          <img src="../../assets/images/twitter.png">
          <img src="../../assets/images/pinterest.png">
          <img src="../../assets/images/google-plus.png">
          <div class="label">App available on</div>
          <img src="../../assets/images/android.png">
          <img src="../../assets/images/ios.png">
      </div>

</div>
 
</div>
<div class="copyright">Copyrights 2018. NammaMatrimony.in. All Rights Reserved</div>      