.wrapper {
    position: relative;
    width: 100%;
    overflow: hidden;
    padding: 0;

    .header {
        font-size: 18px;
        margin-top: 30px;
        text-align: center;
    }

    .shortcut-menu {
        background: white;
        overflow: hidden;
        color: black;
        font-size: 14px;
        text-align: center;
        padding-top: 30px;
        padding-bottom: 50px;
        
        .menu-row {
            margin-top: 10px;
            height: 40px;
            
            button {
                margin-right: 10px;
                border-radius: 20px;
                padding: 5px 20px 5px 20px;
                border: none;
                background: #E6193A;
                color: white;
                font-size: 14px;
            }
            .menu-col {
                margin-right: 10px;
                cursor: pointer;
                border-right: 0.5px solid #333333;
                padding-right: 10px;
                &:hover {
                    color: #E6193A
                }
            }
        }
    }

    .footer {
        padding: 50px;
        background: rgb(41, 41, 41);
        overflow: hidden;
        ul {
            color: rgb(209, 206, 206);
            float: left;
            font-weight: 200;
            font-size: 12px;
            list-style-image: url('../../assets/images/done-tick.png');
            .title {
                font-weight: 800;
                margin-bottom: 20px;
            }
        }
    
        .follow {
            float: left;
            position: relative;
            margin: 0;
            padding: 0;
            margin-left: 100px;
            color: white;
            font-size: 12px;
            font-weight: 600;
            
            .label {
                font-size: 12px;
                margin-bottom: 10px;
            }
            img {
                width: 25px;
                height: 25px;
                margin-right: 5px;
                margin-bottom: 10px;
            }
        }
    }

}
.copyright {
    color: white;
    font-size: 14px;
    padding: 20px;
    text-align: center;
    background: rgb(20, 20, 20);
}