.wrapper {
    width: 100%;
    overflow: hidden;
    position: relative;
    text-align: center;
    padding-bottom: 50px;
    background: url('../../assets/images/bgstories.png');

    .assistant-service {
        text-align: left;
        color: white;
        width: 100%;

        .text-content {
            position: absolute;
            top: 20%;
            left: 20%;
            
            .title {
                font-weight: 600;
                font-size: 22px
            }
            .content{
                font-weight: 14px;
            }
            .btn{
                background-image: linear-gradient(#EC5C75, #E6193A);
                color: white;
                font-size: 14px;
            }
        }
    }
    
    .header {
        color: #E6193A;
        font-weight: 700;
        font-size: 20px;
        display: block;        
        padding-top: 30px;
        text-shadow: 1px 1px gray;
    }

    .feature-container {
        padding: 50px;
        width: 100%;

        .feature-item {
            position: relative;
            height: 80px;
            float: left;
            width: 50%;
            margin-top: 20px;
            img {
                width: 50px;
                height: 50px;
                left: 0;
            }
            span {
                display: block;
                left: 70px;
                text-align: left;
                position: relative;
                &.title {
                    color: #E6193A;
                    font-weight: 600;
                }
                &.desc{
                    color: #333333;
                    font-size: 12px;
                }
            }
        }
    }
}