<div class="wrapper">
  <div class="assistant-service">
  <img src="../../assets/images/assistance-service.png">
  <div class="text-content">
      <p class="title">ASSISTED SERVICE</p>
      <p class="content">A Personalized matchmaking service from Namma Matrimony</p>
      <button class="btn">Know More</button>
    </div> 
  </div>
    <span class="header">MATCHMAKING WEBSITE FEATURES</span>
    <div class="feature-container">
        <div class="feature-item" *ngFor="let feature of features">
          <img class="vertical-center" src="{{feature.img}}">
          <div class="vertical-center">
            <span class="title">{{feature.title}}</span>
            <span class="desc">{{feature.desc}}</span>
          </div>
        </div> 
    </div>
</div>