.wrapper {
    width: 100%;
    background-size: 100% 100%;
    position: relative;

    img {
        width: 100%;
    }

    .header {
         color: white;
         font-weight: 700;
         top: 30px;
         left: 0;
         width: 100%;
         text-align: center;
         position: absolute;
         font-size: 20px;
         text-shadow: 1px 1px gray;
    }

    .feature-container {

    }
}