<div class="wrapper">
  <span class="header">RECENTLY JOINED</span>
  <swiper [config]="config">
    <div class="swiper-wrapper">
        <div class="swiper-slide">
            <div class="card" >
               <div class="square">
                     <img class="card-img-top" src="../../assets/images/coverimage.jpg" alt="Card image cap">
               </div>
               <div class="card-body">
               <h5 class="card-title">Suren & Malar</h5>
               <p class="card-text">Some quick example text to build</p>
               <div class="options">
                  <img src="../../assets/images/like.png">
                  <img src="../../assets/images/star.png">
                  <img src="../../assets/images/dislike.png">
               </div>
               </div>
            </div>
        </div>
    </div>
    </swiper>
</div>