.container {
    background: url('../../assets/images/bgstories.png');
    background-size: 100% 100%;
    min-height: 100vh;
    position: relative;
    background-repeat: no-repeat;
    .header {
        background: url('../../assets/images/otp-header.jpg');
        height: 10%;
        width: 100%;
        overflow: hidden;
        .logo {
            width: 200px;
            margin-left: 20px;
        }
    }
    .content {
        background: url('../../assets/images/bgstories.png');
        background-size: 100%;
        background-repeat: no-repeat;
        width: 50%;
        min-height: 70%;
        left: 25%;
        padding: 20px;
        margin-top: 30px;
        margin-bottom: 30px;
        text-align: center;

        .title {
            font-size: 20px;
            color: #de3c93;
            font-weight: 400;

            &.blue-title {
                color: #1d5d77;
                margin-top: 0px;
                font-size: 14px;
                font-weight: 600;
            }

            &.sub-title {
                font-size: 14px;
                color: #1d5d77;
                margin-top: 20px;
            }
        }

        .instruction {
            font-size: 14px;
            margin-top: 10px;
        }

        form {
            text-align: center;
            .profile-photo {
                width: 200px;
                height: 200px;
            }

            .inputWrapper {
                height: 200px;
                width: 200px;
                overflow: hidden;
                margin: 0 auto;
                position: relative;
                cursor: pointer;
                /*Using a background color, but you can use a background image to represent a button*/
                background: url('../../assets/images/profile-thumbnail.png');
                background-size: 100% 100%;
            
                .fileInput {
                    cursor: pointer;
                    height: 100%;
                    position:absolute;
                    top: 0;
                    right: 0;
                    z-index: 99;
                    /*This makes the button huge. If you want a bigger button, increase the font size*/
                    font-size:50px;
                    /*Opacity settings for all browsers*/
                    opacity: 0;
                    -moz-opacity: 0;
                    filter:progid:DXImageTransform.Microsoft.Alpha(opacity=0)
                }
                .profile-img {
                    width: 100%;
                    height: 100%;
                }
            }
            
            button {
                border: none;
                border-radius: 0;
                color: white;
                font-size: 14px;
                width: 40%;
                height: 35px;
                font-weight: 600;
                &.submit {
                    background:hotpink;
                }
                &.next {
                    background:hotpink;
                    margin-top: 20px;
                }
                &.later {
                    margin-top: 0px;
                    background:#A9A9A9;
                }
            }
            .do-and-donts {
                text-align: left;
                margin-top: 20px;
                font-size: 12px;

                ul {
                    padding-left: 20px;
                }
                .do {
                    width: 50%;
                    float: left;
                    color: #de3c93;
                 }
                .donts {
                    width: 50%;
                    float: left;
                    color: green;
                }
            }
        }
    }
}