<div class="wrapper">
  <div class="cover-image-container">
    <img class="cover-image" src="../../../assets/images/dashboard_cover photo.png">
  </div>
  <div>
    <img class="profile-photo" src="../../../assets/images/dashboard_cover photo.png">
    <button class="btn btn-primary edit-btn">Edit</button>
  </div>
  <div class="profile-detail">
    <span>Name</span>
    <span>Address</span>
  </div>
  <div class="btn-group tabs" role="group" aria-label="Basic example">
      <button type="button" (click)="onTabSelected(0)">SHORTLISTED</button>
      <button type="button" (click)="onTabSelected(1)">CONNECTIONS</button>
      <button type="button" (click)="onTabSelected(2)">INTEREST SENT</button>
      <button type="button" (click)="onTabSelected(3)">MY PROFILE VIEWS</button>
  </div>

  <app-connections></app-connections>

</div>