.container {
    overflow: hidden;
    background: url('../../assets/images/bgstories.png');
    background-size: 100% 100%;
    min-height: 100vh;
    position: relative;
    background-repeat: no-repeat;
    .header {
        background: url('../../assets/images/otp-header.jpg');
        height: 10%;
        width: 100%;
        overflow: hidden;
        .logo {
            width: 200px;
            margin-left: 20px;
        }
    }
    .content {
        background: url('../../assets/images/bgstories.png');
        background-size: 100%;
        background-repeat: no-repeat;
        width: 40%;
        max-height: 80%;
        min-height: 70%;
        left: 30%;
        padding: 20px;
        margin-top: 30px;
        margin-bottom: 30px;
        text-align: center;

        .title {
            font-size: 20px;
            color: #de3c93;
            font-weight: 400;
            &.left-title {
                color: #1d5d77;
                text-align: left;
                margin-top: 20px;
                font-size: 16px;
                font-weight: 600;
            }
        }

        .code-instruction {
            font-size: 14px;
            margin-top: 10px;
        }
        .doc-group {
            margin-top: 20px;
            width: 100%;

            .doc-type{
                color:#1d5d77;
                width: 25%;
                font-size: 14px;
            }
        }
        form {
            text-align: center;
            .otp-text {
                width: 70%;
                float: left;
                position: relative;
                .overlay {
                    width: 90%;
                    height: 100%;
                    background: white;
                    border: 0.5px solid black;
                    position: absolute;
                    z-index: 1000;
                    left: 40px;
                    top: 0;
                }
                
            }
            .otp-btn {
                width: 30%;
                float: left;
            }

            input[type=file] {
                width: 100%;
                margin: 0 auto;
                font-size: 14px;
                padding-left: 40px;
                padding-top: 10px;
                box-shadow: none;
                border-radius: 0;
                border: 0.5px solid #4c5052;
                height: 40px;
                background: url('../../assets/images/attachment.png');
                background-repeat: no-repeat;   
                background-size: 20px;
                background-position-x: 10px;
                background-position-y: 10px;
                cursor: pointer;
            }
            button {
                border: none;
                border-radius: 0;
                color: white;
                height: 40px;
                font-size: 16px;
                font-weight: 600;
                &.submit {
                    width: 100%;
                    background:hotpink;
                }
                &.next {
                    width: 60%;
                    background:hotpink;
                    margin-top: 20px;
                }
                &.later {
                    margin-top: 20px;
                    width: 60%;
                    background:#A9A9A9;
                }
            }
        }
    }
}