<div class="wrapper">
    <span class="header">MATRIMONY PRIVACY IN YOUR HANDS</span>
    <div class="feature-container">
        <div class="privacy-items">
            <div class="feature-item" *ngFor="let privacy of privacies">
                <img class="vertical-center" src="{{privacy.img}}">
                <div class="vertical-center">
                    <span class="desc">{{privacy.desc}}</span>
                </div>
            </div>
        </div>
        <div class="privacy-img">
            <img src="../../assets/images/privacy.png">
        </div> 
    </div>
</div>