.wrapper {
    position: relative;
    width: 100%;
    height: 300px;
    overflow: hidden;
    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    .overlay {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        background: #740013;
        opacity: 0.7;
    }
    .app-container {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        width: 100%;
        height: 100%;
        .content {
            position: relative;
            width: 70%;
            height: 80%;
            left: 28%;
            img {
                width: 200px;
                height: 200px;
                
                float: left;
                position: relative;
            }
            .desc {
                position: relative;
                float: left;
                margin-top: 30px;
                margin-left: 30px;
                color: white;

                h4 {
                    margin: 0;
                    padding: 0;
                }
               
                .message {
                    font-weight: 200;
                    font-size: 14px;
                }
                .features {
                    padding-top: 20px;
                    font-size: 12px;
                    font-weight: 700;
                }
                .availablity {
                    margin-top: 40px;
                    font-size: 10px;
                    font-weight: 200;
                }
                .btns {
                    background: green;
                    margin-top: 10px;
                    img {
                        width: 100px;
                        margin-right: 10px;
                        height: 40px;
                        object-fit: contain;
                    }
                }
            }
            
        }
    }
}
