<div class="wrapper">
  <img src="../../assets/images/coverimage.jpg">
  <div class="overlay"></div>
  <div class="app-container">
    <div class="content vertical-center">
      <img class="vertical-center" src="../../assets/images/mobiles.jpg">
      <div class="desc">
        <h4>Happiness is just an App Away</h4>
        <span class="message">Find your right match with Namma Matrimony</span><br/>
        <div class="features">Simple | Fast | Convenient | Safe & Secure</div>
        <div class="availablity">Available on iOS and Android</div>
        <div class="btns">
          <img src="../../assets/images/googleplay.png">
          <img src="../../assets/images/appstore.png">
        </div>
      </div>
    </div>
  </div>
</div>