.wrapper {
    width: 100%;
    height: 100%;
    padding: 0;
    .top-container {
        position: relative;
        .cover-image-container {
            position: relative;
            .logo {
                width: 250px;
                position: absolute;
                top: 30px;
                left: 30px;
            }
            .cover-image {
                width: 100%;
                height: auto;
                object-fit: contain;
                // -webkit-filter: blur(2px); 
                // filter: blur(2px);
            }
            .web-features {
                position: absolute;
                bottom: 0;
                background: #E6193A;
                width: 100%;
                
                .feature-item {
                    width: 25%;
                    float: left;
                    padding: 10px;
                    text-align: center;
                    color: white;
                    span {
                        display: block; 
                        &.first {
                            font-size: 20px;
                            font-weight: 600;
                        }
                        &.second {
                            font-size: 10px;
                        }
                    }
                }
            }
            .btns {
                position: absolute;
                top: 20%;
                z-index: 1;
                right: 50px;
                .action {
                    overflow: hidden;
                    background: #E6193A;
                    border: 0;
                    padding: 0;
                    height: 35px;
                    box-shadow: none;
                    cursor: pointer;
                    padding-left: 30px;
                    padding-right: 30px;
                    font-size: 14px;    

                    &.login {
                        margin-left: 20px;
                        margin-right: 30px;
                    }
                }
                .menu-btn {
                    width: 35px;
                    height: 35px;
                    right: 0;
                    cursor: pointer;
                }
            }
        }
        .search-container {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            padding-left: 50px;
            padding-top: 50px;
            padding-right: 50px;

            .search-box {
                margin-top: 25%;
                width: 100%;
                padding: 10px;
                background:rgba(10, 10, 10, 0.2);
                border: 0.5px solid white;

                form {
                    font-size: 14px;
                    padding: 0;
                    .form-group {
                        width: 20%;
                        padding: 0;
                        margin: 0;
                        select {
                            background-color: white !important;
                            width: 100%;
                            height: 40px;
                            text-indent: 10px;
                        }
                        select option {
                            width: 100%;
                            height: 60px;
                            background-color: white !important;
                        }
                    }
                    button {
                        width: 20%;
                        height: 50px;
                        background-image: linear-gradient(#EC5C75, #E6193A);
                        font-size: 16px;
                        color: white;
                    }
                }
               
            }

        }
            .modal-header {
               .login-header {
                   text-align: center;
                   width: 100%;
                   position: relative;
                   .logo {
                       width: 60%
                   }
                   .slogan {
                        margin-top: -40px;
                        color: #E6193A;
                        margin-bottom: 30px;
                        font-size: 14px;   
                   }
                   .title {
                        font-size: 22px;   
                        color: #1d5d77;
                   }
                   .close {
                        position: absolute;
                        top: 0;
                        right: 0;
                    }
               }

               .signup-header {
                    text-align: center;
                    width: 100%;
                    position: relative;
                    .slogan {
                        color: #E6193A;
                        margin-bottom: 30px;
                        font-size: 14px;   
                    }
                    .title {
                        font-size: 26px;   
                        color: #1d5d77;
                    }
                    .close {
                        position: absolute;
                        top: 0;
                        right: 0;
                    }
                }
            }
           
            
        form {
            padding-left: 50px;
            padding-right: 50px;
            padding-bottom: 30px;
            border: none;
            text-align: left;
            .alert {
                background: transparent;
                padding: 5px;
                margin: 0px;
                border: none;
            }
            .alert-danger {
               font-size: 12px;
               color: red;
            }
            .form-title {
                font-size: 30px;
                text-align: center;
            }
            select.profile_for {
                width: 100%;
                height: 45px;
                font-size: 14px;
                padding: 5px;
            }
            .code_number {
                max-width: 35%;
                margin-right: 5%;
                overflow: hidden;
                height: 40px;
                float: left;
                select {
                    width: 100%;
                    height: 100%;
                    font-size: 14px;
                    padding: 5px;
                }
            }
            .form-group {
                margin-bottom: 10px;
                .form-control {
                    height: 40px;
                    margin: 0;
                    
                    &.phone_number {
                        float: left;
                        width: 60%;
                    }
                }
                input:focus {
                    border:1.5px solid #E6193A;
                    box-shadow: none;
                }
            }
            
            .error-msg {
                color:#E6193A;
                font-size: 12px;
                margin-bottom: 10px;
                padding: 5px;
            }
            .signup {
                width: 100%;
                font-size: 14px;
                height:35px;
                text-align: center;
                margin-top: 20px;
                background: #E6193A;
                color: white;
            }
           
            button {
                font-size: 14px;
                height:35px;
                text-align: center;
            }

            h1, button {
                font-family: 'roboto', sans-serif;
                -webkit-transition: all 0.3s ease-in-out;
                        transition: all 0.3s ease-in-out;
              }
              
            
              
              input {
                margin: 10px 10px;
                display: block;
                border: 0.5px solid gray;
                border-radius: 0;
                padding-left: 10px;
                font-size: 14px;
                -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
                -moz-box-sizing: border-box;    /* Firefox, other Gecko */
                 box-sizing: border-box; 

                &.ng-invalid.ng-touched {
                    border: 1.5px solid red;
                }
              }
              
              button {
                width: 100%;
                border: none;
                cursor: pointer;
                border-radius: 3px;
                color: white;
                box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.2);
              }
              button:hover {
                -webkit-transform: translateY(-3px);
                    -ms-transform: translateY(-3px);
                        transform: translateY(-3px);
                box-shadow: 0 6px 6px 0 rgba(0, 0, 0, 0.2);
              }
              .login-option {
                  margin-top: 20px;
                  text-align: center;
                  font-size: 14px;
                  .login-btn {
                      margin-left: 10px;
                      color: #E6193A;
                      cursor: pointer;
                  }
              }
              .gender-group {
                    input {
                        margin: 0;
                        margin-top: 5px;
                        margin-right: 10px;
                    }
              }
              ng-datepicker {
              .is-disabled {
                  cursor: pointer;
              }
            }

            .stay-signed {
                position: relative;
                font-size: 14px;
                input {
                    float: left;
                    width: 18px;
                    height: 18px;
                    vertical-align: middle;
                    margin-left: 0;
                } 
                span {
                    float: left;
                    vertical-align: middle;
                }
                .forget-password {
                    right: 0;
                    color: 14px;
                    color: #1d5d77;
                } 
            }
        }
        /* Shared */
        .loginBtn {
            box-sizing: border-box;
            position: relative;
            height: 40px;
            /* width: 13em;  - apply for fixed size */
            margin: 0.2em;
            padding: 0 15px 0 46px;
            border: none;
            text-align: left;
            line-height: 34px;
            white-space: nowrap;
            border-radius: 0.2em;
            font-size: 16px;
            color: #FFF;
            cursor: pointer;
        }
        .loginBtn:before {
            content: "";
            box-sizing: border-box;
            position: absolute;
            top: 0;
            left: 0;
            width: 34px;
            height: 100%;
        }
        .loginBtn:focus {
            outline: none;
        }
        .loginBtn:active {
            box-shadow: inset 0 0 0 32px rgba(0,0,0,0.1);
        }
        
        
        /* Facebook */
        .loginBtn--facebook {
            background-color: #4C69BA;
            background-image: linear-gradient(#4C69BA, #3B55A0);
            /*font-family: "Helvetica neue", Helvetica Neue, Helvetica, Arial, sans-serif;*/
            text-shadow: 0 -1px 0 #354C8C;
        }
        .loginBtn--facebook:before {
            border-right: #364e92 1px solid;
            background: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/14082/icon_facebook.png') 6px 6px no-repeat;
        }
        .loginBtn--facebook:hover,
        .loginBtn--facebook:focus {
            background-color: #5B7BD5;
            background-image: linear-gradient(#5B7BD5, #4864B1);
        }
        
        
        /* Google */
        .loginBtn--google {
            /*font-family: "Roboto", Roboto, arial, sans-serif;*/
            background: #DD4B39;
        }
        .loginBtn--google:before {
            border-right: #BB3F30 1px solid;
            background: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/14082/icon_google.png') 6px 6px no-repeat;
        }
        .loginBtn--google:hover,
        .loginBtn--google:focus {
            background: #E74B37;
        }
        .modal-title {
           width: 100%;
           text-align: center;
        }
    }

}


.topleft {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    z-index: 100;
}