<div class="wrapper">
  <div class="top-container">
    <div class="cover-image-container">
        <img class="cover-image" src="../../assets/images/coverimage.jpg">
        <img class="logo" src="../../assets/images/logo.png">
        <div class="btns">
          <button type="button" class="btn btn-primary action" data-toggle="modal" data-target="#signupModal" (click)="onRegisterClicked()">
            Register
          </button>
          <button type="button" class="btn btn-primary action login" data-toggle="modal" data-target="#loginModal" (click)="onLoginClicked()">
            Login
          </button>
          <img class="menu-btn" src="../../assets/images/menu.png">
        </div>
        <div class="web-features">
          <div class="feature-item">
            <span class="first">2+ COUNTRIES</span>
            <span class="second">CONNECTING BEYOND BORDERS</span>
          </div>
          <div class="feature-item">
            <span class="first">3200+ CITIES</span>
            <span class="second">ACROSS 2 COUNTRIES OF OPERATIONS</span>
          </div>
          <div class="feature-item">
            <span class="first">40+ LANGUAGES</span>
            <span class="second">OFFERING MULTILINGUAL CHOICES</span>
          </div>
          <div class="feature-item">
            <span class="first">490+ CASTES</span>
            <span class="second">WITHIN INDIA & ABROAD</span>
          </div>
        </div>
    </div>
    <div class="search-container">
        <div class="search-box">
        <form class="form-inline">
          <div class="form-group">
            <select class="form-control" name="couples" id="couples" ngModel>
              <option value="" disabled>Looking For</option>
              <option *ngFor="let religion of religions" [ngValue]="religion">{{religion}}</option>
            </select>
          </div>
          <div class="form-group">
            <select name="from-age" id="from-age" ngModel>
              <option value="" disabled>20 yrs</option>
              <option *ngFor="let religion of religions" [ngValue]="religion">{{religion}}</option>
            </select>
            </div>
            <div class="form-group">
            <select name="to-age" id="to-age" ngModel>
              <option value="" disabled>30 yrs</option>
              <option *ngFor="let religion of religions" [ngValue]="religion">{{religion}}</option>
            </select>
            </div>
            <div class="form-group">
            <select name="religion" id="religion" ngModel>
              <option value="" disabled>Select a Religion</option>
              <option *ngFor="let religion of religions" [ngValue]="religion">{{religion}}</option>
            </select>
            </div>
            <button class="btn btn-default submit">Search</button>
        </form>
        </div>


    <div class="modal fade" id="signupModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content card">
          <div class="modal-header">
            <!-- <h5 class="modal-title" id="exampleModalLongTitle"></h5> -->
            <div class="signup-header">
                <span class="title">Register Free</span>
                <div class="slogan">It's really simply and highly secured</div>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
            </div>
           
          </div>
          <div class="modal-body">
              <form (ngSubmit)="onSignup(signupForm)" #signupForm="ngForm" class="inner">
     
                <div class="form-group">
                    <label>Email Address</label>
                    <input type="text" placeholder="Enter Your Email Address" class="form-control" id="signupEmail" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$" [(ngModel)]="signupEmailText" name="signupEmail" #signupEmail="ngModel" required>
                  
                    <div *ngIf="signupClicked && signupEmail.invalid && (signupEmail.dirty || signupEmail.touched)" class="alert alert-danger">
                      <div *ngIf="signupEmail.errors.required">
                        Email ID is required.
                      </div>
                      <div *ngIf="signupEmail.errors.pattern">
                          Enter a valid Email ID
                        </div>
                    </div>  
                  
                  </div>
  

                <div class="form-group">
                  <label>Password</label>
                  <input type="password" placeholder="Create a Password" class="form-control" id="signupPassword" minlength="6" [(ngModel)]="signupPasswordText" name="signupPassword" #signupPassword="ngModel" required>
                
                  <div *ngIf="signupClicked && signupPassword.invalid && (signupPassword.dirty || signupPassword.touched)" class="alert alert-danger">
                    <div *ngIf="signupPassword.errors.required">
                      Password is required.
                    </div>
                    <div *ngIf="signupPassword.errors.minlength">
                      Password must be 6 characters long.
                    </div>
                  </div>  
                
                </div>
    
                <div class="form-group">
                  <label>Confirm a Password</label>
                  <input type="password" placeholder="Re Enter Password" class="form-control" id="confirmPassword" minlength="6" [(ngModel)]="confirmPasswordText" name="confirmPassword" #confirmPassword="ngModel" required>
                
                  <div *ngIf="signupClicked && confirmPassword.invalid && (confirmPassword.dirty || confirmPassword.touched)" class="alert alert-danger">
                    <div *ngIf="confirmPassword.errors.required">
                      Confirm Password is required.
                    </div>
                    <div *ngIf="confirmPassword.errors.minlength">
                      Confirm Password must be 6 characters long.
                    </div>
                  </div>  
                
                </div>

                <label>Mobile Number</label>
                <div class="form-group">
                    <div class="code_number" >
                        <select name="code_number" ngModel required>
                            <option value="" disabled>Country Code</option>
                            <option *ngFor="let code of codes" [ngValue]="code.code">
                              {{ code.name }}
                            </option>
                          </select>
                    </div>
                    
                    <input type="text" pattern="[0-9]*" placeholder="Phone Number" class="form-control phone_number" id="phone" required minlength="10" maxlength="10" [(ngModel)]="phoneText" name="phone" #phone="ngModel" required>
               
                </div>

                <div *ngIf="signupClicked && signupForm.value.code_number.length === 0" class="alert alert-danger">
                  Please select code number
                </div>

               
                <div *ngIf="signupClicked && phone.invalid && (phone.dirty || phone.touched)" class="alert alert-danger">
                    <div *ngIf="phone.errors.minlength">
                      Phone number must be 10 characters long.
                    </div>
                    <div *ngIf="phone.errors.required">
                      Phone Number is required.
                    </div>
                    <div *ngIf="phone.errors.pattern">
                      Phone number patters in wrong
                    </div>
                </div>

                <div class="form-group">
                    <label class="label" for="profile_for">Profile Created By</label>
                    <select name="profile_for" class="profile_for" ngModel required>
                      <option value="" disabled>Select any one</option>
                      <option *ngFor="let createdBy of profileCreatedBy" [ngValue]="createdBy">{{createdBy}}</option>
                    </select>

                    <div *ngIf="signupClicked && signupForm.value.profile_for.length === 0" class="alert alert-danger">
                      Please select by whom the account is created by
                    </div>
                </div>
    
                <span class="error-msg" *ngIf="showError">{{errorMsg}}</span>
    
                <div class="form-group">
                <button type="submit" class="btn form-control signup">Sign up</button>
                <div class="login-option">
                  <span>Already have an account?</span><span class="login-btn" (click)="toggleLogin()">Login</span>
                </div>
                </div>
              </form> 
    
          </div>
        </div>
      </div>
    </div>

    <div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content card">
          <div class="modal-header">
            <div class="login-header">
              <div><img class="logo" src="../../assets/images/logo.png"></div>
              <div class="slogan">It's really simply and highly secured</div>
              <span class="title">Login with your Email</span>
              <button type="button" id="btnLoginClose" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
              </button>
          </div>
            <!-- <h5 class="modal-title" id="exampleModalLongTitle">Login with your Email</h5> -->
           
          </div>
          <div class="modal-body">
              <form (ngSubmit)="login(loginForm)" #loginForm="ngForm" class="inner">
             
                <div class="form-group">
                  <label>Email Address</label>
                  <input type="text" placeholder="Enter Your Email Address" class="form-control" id="loginEmail" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$" [(ngModel)]="loginEmailText" name="loginEmail" #loginEmail="ngModel" required>
                
                  <div *ngIf="loginClicked && loginEmail.invalid && (loginEmail.dirty || loginEmail.touched)" class="alert alert-danger">
                    <div *ngIf="loginEmail.errors.required">
                      Email ID is required.
                    </div>
                    <div *ngIf="loginEmail.errors.pattern">
                        Enter a valid Email ID
                      </div>
                  </div>  
                
                </div>


              <div class="form-group">
                <label>Password</label>
                <input type="password" placeholder="Create a Password" class="form-control" id="loginPassword" minlength="6" [(ngModel)]="loginPasswordText" name="loginPassword" #loginPassword="ngModel" required>
              
                <div *ngIf="loginClicked && loginPassword.invalid && (loginPassword.dirty || loginPassword.touched)" class="alert alert-danger">
                  <div *ngIf="loginPassword.errors.required">
                    Password is required.
                  </div>
                  <div *ngIf="loginPassword.errors.minlength">
                    Password must be 6 characters long.
                  </div>
                </div>  
              
              </div>

                <div class="form-group stay-signed">
                    <input type="checkbox" id="stay-signed" name="stay-signed" ngModel>
                    <span class="vertical-center">Stay Signed in</span><br>
                    <span class="forget-password vertical-center">Forget Password?</span>
                </div>
    
                <span class="error-msg" *ngIf="showError">{{errorMsg}}</span>
    
                <div class="form-group">
                <button type="submit" class="btn form-control signup">Login</button>
                <div class="login-option">
                  <span>New to NammaMatrimony.com?</span><br>
                  <span class="login-btn">Register for Free</span>
                </div>
                </div>
              </form> 
    
          </div>
        </div>
      </div>
    </div>

  </div>
  <app-stories></app-stories>
  <app-recently-joined></app-recently-joined>
  <app-features></app-features>
  <app-additional-features></app-additional-features>
  <app-privacy></app-privacy>
  <app-app-link></app-app-link>
  <app-footer></app-footer>
  <div class="topleft">
    <router-outlet></router-outlet>
  </div>
</div>
